.btn-area {
    position: relative;
    .btn {
        border-radius: 50%;
        width: 90px;
        height: 90px;
        border: none;

        &.enter {
            background-color: #FFCD4C;
            box-shadow: 0px 3px 20px #00000069;
            cursor: pointer;

            &:active {
                transform: translateY(-3px);
                box-shadow: 0 3px 10px #00000069;
            }
        }
        &:focus {
            outline: none;
        }

        &.back, &.front {
            box-shadow: 0px 3px 15px #FF5A5A72;
            border: 3px solid #EF7F67;
            background-color: transparent;
            color: #FF5A5A;
            font-size: 2rem;
            font-weight: bolder;
            cursor: pointer;
            &:active {
                transform: translateY(-3px);
                box-shadow: 0 3px 5px #FF5A5A72;
            }    
        }

    }
}